
<script src="/assets/js/donate.js"></script>
<script src="/assets/js/create_new_donate.js"></script>
<script src="/assets/js/save_new_donate.js"></script>

<section class="section container">
        <div class="level-right">
            <a href="/" class="btn btn-danger">Voltar</a>
        </div>
         <br />
        <div class = 'container_donations' onclick="">
            <center>
                <p class="title is-4">Criar uma nova doação</p>
            </center>
        </div>  
        <br />
        <center>
            <div class="container_donation_for_user">
                <form action="/action_page.php">
                    <div class="form-group">
                        <label for="responsible">Responsável:</label>
                        <input id = 'new_reponsible' type="text" class="form-control" placeholder="Responsável">
                    </div>
                    <div class="form-group">
                        <label for="sector">Atuação:</label>
                        <input id = 'new_action' type="text" class="form-control" placeholder="Atuação">
                    </div>
                    <div class="form-group">
                        <label for="values">Valor:</label>
                        <input id = 'new_values' type="number" class="form-control" placeholder="Valor">
                    </div>            
                    <a class="button is-primary level-item" id="btn_donate_for_user" onclick="save_new_donate()">Criar</a>
                </form>              
            </div> 
        </center>           
        <br />
</section>

