
<script src="/assets/js/donate.js"></script>
<script src="/assets/js/create_new_donate.js"></script>
<script src="/assets/js/save_new_donate.js"></script>

<section class="section container">
        <div class="level-right">
            <a href="/" class="btn btn-danger">Voltar</a>
        </div>
         <br />
        <div class = 'container_donations' onclick="">
            <center>
                <p class="title is-4">Criar uma nova doação</p>
            </center>
        </div>  
        <br />
        <center>
            <div class="container_donation_for_user">
                <h1>Responsável:</h1>
                <input id = 'new_reponsible' type="text" value = ''><br>
                <h1>Atuação:</h1>
                <input id = 'new_action' type="text"  value = ''><br>  
                <h1>Valor:</h1>
                <input id = 'new_values' type="number"  value = ''><br>                               
                <a class="button is-primary level-item" id="btn_donate_for_user" onclick="save_new_donate()">Criar</a>
            </div> 
        </center>           
        <br />
</section>

